
  body {
    background-color:grey;
    font-family: 'Changa', sans-serif;
    text-align: center;
    color: lightblue;
}

.para1 {
    font-family: 'Economica', sans-serif;
    font-size: larger;
    }
.para2{
    font-family: 'Economica', sans-serif;
        font-size: larger;
    }
.para3{
        font-family: 'Economica', sans-serif;
        font-size: larger; 
    }
.para4{
        font-family: 'Economica', sans-serif;
        font-size: larger; 
    }
.para5{
        font-family: 'Economica', sans-serif;
        font-size: larger; 
    }
    .para6{
        font-family: 'Economica', sans-serif;
        font-size: larger; 
    }
